.swiper-pagination-bullet {
	background: white;
	opacity: 1;
	height: 6px;
	width: 6px;
	transition: 0.2 all;
}

.swiper-pagination-bullet-active {
	width: 38.5px;
	border-radius: 4px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0;
}

.swiper {
	padding-bottom: 30px;
}
