@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%; /* #ffffff */
		--foreground: 200 4% 15%; /* #242627 */
		--foreground-light: 195 2% 31%; /* #4E5152 */

		--primary: 197 100% 47%; /* #00ADEF */
		--primary-dark: 197 100% 36%; /* #0084B8 */
		--primary-foreground: 0 0% 100%; /* #ffffff */

		--magenta: 325 100% 46%; /* #EB008B */
		--magenta-dark: 325 100% 32%; /* #A3005F */
		--magenta-foreground: 0 0% 100%; /* #ffffff */
	}
}
