@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 194 100% 42%; /* #00A2D4 */
		
	
		--background: 0 0% 100%; /* #ffffff */
		--foreground: 200 4% 15%; /* #242627 */
		--foreground-grey: 195 2% 31%; /* #4E5152 */
		--sb-info-background: 0%, 12%, 14%, 2%;
		--foreground-light-grey: 180 1% 45%; /* #727474 */

		--primary: 197 100% 47%; /* #00ADEF */
		--primary-dark: 197 100% 36%; /* #0084B8 */
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--border: 216 37% 95%; /*  */
		--input: 0 0% 84%; /*  */

		--secondary: 194 100% 42%; /**/
		--secondary-foreground: 0 0% 100%; /* #ffffff */

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 7 61% 48%; /* #C54130 */
    	--destructive-foreground: 210 40% 98%;
		--success: 140 100% 42%; 
		--primary-foreground: 0 0% 100%; /* #ffffff */
		--cyan:  60, 100%, 50%, 1 /* #FFFF00 */;
		--grey: 0 0% 95%; /* #F1F1F1 */

		/* cmyk base colors */
		--sb-cyan: 100%, 0%, 0%, 0%;
		--sb-cyan-light: 38%, 0%, 0%, 0%;
		--sb-magenta:0%, 100%, 0%, 0%;
		--sb-magenta-light:0%, 34%, 0%, 0%;
		--magenta: 325 100% 46%; /* #EB008B */
		--magenta-dark: 325 100% 32%; /* #A3005F */
		--magenta-foreground: 0 0% 100%; /* #ffffff */
		--magenta-light: 325, 59%, 58%, 1; /* #D3549E */

		--border: 216 37% 95%; /* #EDF1F6 */
	}
}


